* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: #444;
    padding: 25px 50px;
    font-size: 1.6em;
    font-weight: 500;
}
header {
    width: 100%;
    height: 500px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 3px solid #fff;
    background: url('../assets/images/headerBKG.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 150px;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 3px #333;
}
    header > p {
        color: #0F0;
        margin-top: -25px;
        background: rgba(255, 255, 255, .33);
    }
section {
    width: 100%;
    min-height: 300px;
    padding: 100px 50px;
    border: 3px solid #fff;
}
#aboutSection {
    background: #fff;
    color: #333;
    font-size: 1.2em;
}
    .fancyHeading {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 20px;
    }
#careerGoals {
    background: #222;
    color: #fff;
    font-size: 1.2em;
    padding-left: 100px;
}
#workSamples {
    background: #fff;
    color: #333;
    text-align: center;
}
    .fancyHeading {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 20px;
    }
    .thumbnail {
        width: 20%;
        border: 3px solid #777;
        border-radius: 16px;
        box-shadow: 2px 3px 5px #222;
    }
    
    #contact {
        background: #222;
        color: #fff;
        text-align: center;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        font-size: 1.2em;
    } 
      #contact > a:link {
            color: #fff;
        }
      /*  #contact .social_icon {
            width: 30px; 
            height: 30px; 
            object-fit: contain; 
        } */
        
    footer {
        text-align: right;
        padding-right: 50px;
        padding-top: 10px;
        color: #fff;
    }
    